# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Database
*.db

# Uploads
uploads/
processed/

# AI Model
*.pt

# React
node_modules/
dist/

# VS Code
.vscode/

# Logs
*.log

# Temporary files
tempCodeRunnerFile.*